@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body
{
font-family: 'Raleway', sans-serif;
width: 100%;
}

#corps
{
margin-left: 3%;
margin-right: 3%;
color: black;
}

h1
{
font-size: 19.3px;
font-weight: bold;
}


.haut-page
{
width: 100%;
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.block1
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
flex-direction: column;
}

nav ul
{
display: flex;
list-style: none;
margin-right: 10px;
}

nav a
{
text-decoration: none;
padding-top: 33px;
color: black;
}

.sinscrire a
{
color: #0065FC;
font-weight: bold;
margin-left: 30px;
font-size: 14px ;
}

nav li
{
font-size: 14px;
margin-right: 19px;
padding-left: 10%;
}

nav a:hover
{
border-top: #0065FC 2px solid;
color:#0065FC;
}

.menu-haut
{
display: flex;
margin-right: 30px;
}

.Sous-titre
{
	font-size: 14px;
	margin-top: 0.2%;
}

.h1
{
	margin-top: 2%;
	margin-bottom: 0.2%;
	max-width: 100%;
}

.Barre de recherche
{
	height: 40px;
	position: relative;
	display: flex;
}

.Recherche
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	max-width: 100%;
	border: 1px solid #F2F2F2;
	border-right: none;
	padding-left: 3%;
	height: 40px;
	outline: none;
	color: black;
}

.BtnRecherche
{
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	height: 40px;
	border: 1px solid #F2F2F2;
	border-right: none;
	border-radius: 0 15px 15px 0;
	color: white;
	background: #0065FC;
	padding-left: 15px;
	padding-right: 15px;
}

.Loupe
{
    display: none;
}

span.iconegps
{
	padding: 10px 13px 11px 25px;
	background: #F2F2F2;
	font-size: 1.0em;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 15px;
}

.lien1
{
    margin-right: 50px;   
}

li
{
	list-style: none;
}

.nomfiltre
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 10px;
}

.barredefiltre
{
	display: flex;
	align-items: center;
	margin-top: 1%;
	max-width: 100%;
}

.filtre
{
	font-weight: bold;
}

.filtreliste
{
	display: flex;
	font-family: 'Raleway', sans-serif;
}

.mqfiltre
{
	display: flex;
}

span.iconefiltre
{
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mediafiltre1
{
	display: flex;
	margin-left: 10px;
	border-radius: 32px 32px 32px 32px;
	border: #F2F2F2 3px solid;
	border-left: none;
	padding-right: 28px;
}

.mediafiltre1:hover
{
	background-color:#84a6da;
	color: white;
	cursor: pointer;
	transition: 0.4s;
	border-radius: 30px 30px 30px 30px;
}


span.iconeinfo
{
	display: flex;
	font-size: 0.6em;
	justify-content: center;
	width: 2px;
	color: #0065FC;
	border: 1px solid #F2F2F2;
	border-radius: 50%;
	padding: 8px;
	margin-top: 8px;
	height: 2px;
	align-items: center;
}

.information
{
	display: flex;
	text-align:left;
}

.infoville
{
	font-size: 12px;
	margin-left: 0.5%;
}

.étoilebleu, .étoilegrise
{
	font-size: 1em;
}

.Hebergement
{
	background-color: #F2F2F2;
	width: 50%;
	border: #F2F2F2 solid 1px;
	border-radius: 15px 15px 15px 15px;
	margin-right: 3%;
	display: flex;
	flex-direction: column;
}

.Hebergement-block
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.Hebergement-image
{
	width: 250px;
	height: 150px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.Hebergement-bulle
{
	background-color: white;
	padding: 3px 3px 0px 3px;
	margin-top: 3%;
	border-radius: 15px 15px 15px 15px;
}

.Hebergement h1
{
	font-size: 17px;
	margin-left: 3%;
	margin-top: 4%;
	margin-bottom: 0px;
}

p a
{
	font-size: 14px;
	font-weight: bold;
	margin-left: 3%;
}

p a:visited
{
	color: black;
}

p.afficher
{
	padding: 10px 10px 10px 10px;
	
}

.groupe1
{
	display: flex;
	margin-top: 0px;
}

.étoilebleu
{
	color: #0065FC;
}

.étoilegrise
{
	color: #F2F2F2;
}

.titrehotel
{
	font-size: 15px;
	font-weight: bold;
	margin: 0px;
}

.prix
{
	font-size: 15px;
	margin: 0px;
}

.prixpopulaire
{
	font-size: 15px;
	margin: 0px;
}

.étoile
{
	padding-left: 15px;
	display: flex;
	flex-direction: column;
}

.étoilegroupe
{
	padding-bottom: 5px;
}

aside
{
	background-color: #F2F2F2 ;
	border: #F2F2F2 solid;
	border-radius: 15px 15px 15px 15px;
	width: 27%;
	padding: 2% 0% 0% 2% ;
	
}

.iconepopulaire h1
{
	font-size: 17px;
}

.iconepopulaire
{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}

.populaireicone
{
	margin-top: 17px;
	margin-right: 15px;
	align-items: center;
}

.populaireimage
{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 15px 0px 0px 15px;
	padding: 3px 0px 3px 3px;
}

.populairecarte
{
	background-color: white;
	margin-top: 3%;
	margin-bottom: 30px;
	width: 90%;
	border-radius: 15px 15px 15px 15px;
	display: flex;
	flex-wrap: nowrap;
	margin-right: 0px;
}

.étoilepopulaire
{
	margin: 10px 0px 0px 10px;	
}

a
{
	height: 106px;
}

.groupe2
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	
}

.titreactivites
{
	color: black;
	margin-top: 45px;
}

.nomactivite
{
	font-size: 12px;
	font-weight: bold;
	margin-left: 10px;
	padding-bottom: 5px;
}

.articleactivite
{
	margin-right: 0px;
	margin-bottom: 0px;
	width: 250px;
	background-color: white;
	border-radius: 15px;
	box-shadow: #F2F2F2 5px 5px 5px 3px;
}

.articleactiviteg
{
	background-color: white;
	border-radius: 15px;
	box-shadow: #F2F2F2 5px 5px 5px 3px;
	height: 300px;
	width: 250px;
	margin-right: 100px;
}

.sousgroupe1
{
	display: flex;
}


.imageVieuxport
{
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.imagepomegue
{
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.imagefrioule
{
	width: 100%;
	height: 95px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.imageCalanque
{
	width: 100%;
	height: 260px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.imageNDG
{
	width: 100%;
	height: 115px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

.imagelongchamps
{
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: 15px 15px 0px 0px;
}

footer
{
	display: flex;
	background-color:#F2F2F2;
	padding-top: 25px;
	padding-left: 40px;
	margin-top: 3%;
}

footer h1
{
	font-size: 15px;
}

footer p
{
	font-size: 15px;
}

.apropos, .noshebergements, .assistance
{
	width: 30%;
}

/*Responsive Tablette*/

@media  screen

and (min-device-width : 480px) 
and (orientation:portrait) {
    
    #corps, body
    {
        margin: 0px;
    }


	.logo
	{
        width: 15%;
		margin-left: 3%;
    }

	nav ul
	{
        margin-right: 20px;
    }

	.block1
	{
		margin-bottom: 3%;
		margin-left: 3%;
	}


	.BtnRecherche
	{  
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: white;
        background: #0065FC;
        border-radius: 11px;
        border: none;
        padding: 15px 15px 15px 15px;
    }
    

	.Loupe
	{
		display: none;
	}

	.barredefiltre
	{
		flex-direction: column;
		align-items: unset;
	   
	}

	.filtreliste
	{
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
    }

	.nomfiltre
	{
        width: 30%;
    }

	.partie-centrale
	{
        flex-direction: column;
    }


	.Hebergement, aside
	{
        width: 100%;
        margin-right: 0%;
        border: none;
        border-radius: unset;
        padding-left: 0%;
    }

	.Hebergement
	{
        margin-bottom: 3%;
    }

	.iconepopulaire h1
	{
        margin-left: 6%;
    }

	.tab_populaire
	{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

	.groupe2
	{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-right: 0%;
        margin-left: 0%;
    }
    

	.titreactivites
	{
        margin-top: 20px;
        padding-left: 40px;
    }



	.articleactivite
	{
        width: 300px;
    }

	.imageNDG,.imagepomegue
	{
        height: 100px;
    }

	.imageVieuxport,.imageCalanque
	{
        height: 255px;
    }

	.articleactiviteg
	{
        width: 300px;
        margin-bottom: 3%;
        height: 285px;
        margin-right: 80px;
    }
}	



@media  screen

and  (min-device-width : 480px) and (max-device-width:1024px)
and (orientation:landscape) {

    

    body{
        margin: 0px 0px 0px 0px;
    }

	.groupe2
	{
        justify-content: center;
	}
	
	.populaireimage
	{
        width: 80px;
    }
}


@media screen and (min-device-width: 1480px)
{
    .Hebergement-image{
        width: 300px;
    }
}
